@import "../../variables.scss";

.main {
    background-color:$background;
}

.logo {
    width: 800px;
    height: 250px;
    padding-right: 100px;
}

.city-form {
    width: 400px;
    font-size: x-large;
}

.city-input {
    width: 360px;
    background: #fff;
    color: #534f6d;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 15px 18px;
}

.button-container {
    padding-top: 10px;
    padding-right: 100px                        ;
}

.blockquote-wrapper {
    display: flex;
    padding: 0 20px;
 }
 
 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-family: 'Barlow Condensed', sans-serif;
     max-width: 620px;
     margin: 80px auto;
     align-self: center;
 }
 
 /* Blockquote header */
 .blockquote h1 {
     font-family: 'Abril Fatface', cursive;
     position: relative; /* for pseudos */
     color: #534f6d;
     font-size: 1.5rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     border: 2px solid #fff;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
 }
 
 /* Blockquote right double quotes */
 .blockquote h1:after {
     content:"";
     position: absolute;
     border: 2px solid #534f6d;
     border-radius: 0 50px 0 0;
     width: 60px;
     height: 60px;
     bottom: -60px;
     left: 50px;
     border-bottom: none;
     border-left: none;
     z-index: 3; 
 }
 
 .blockquote h1:before {
     content:"";
     position: absolute;
     width: 80px;
     border: 6px solid $background;
     bottom: -3px;
     left: 50px;
     z-index: 2;
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 1.5rem;
         line-height: 1;
    }
 
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
     position: relative;
     color: #534f6d;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.2;
     margin: 0;
     padding-top: 15px;
     z-index: 1;
     margin-left:150px;
     padding-left:12px;
 }
 
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }
