<div class="container-fluid w-100 h-100">
  <div class="row w-100">
    <div class="col display-flex justify-content-center">
      <h1>Logo</h1>
    </div>

  </div>
  <div class="row w-100">
    <div class="col-3 display-flex justify-content-center menu-bg">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="col">
          <mat-checkbox>Checked</mat-checkbox>
        </div>
        <div class="col">
          <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
        </div>
      </div>
    </div>
    <div class="col justify-content-center">
      <app-map></app-map>
    </div>
  </div>
</div>