@import "../../variables.scss";

.main {
    background-color:$background;
}

.container {
    display: flex;
}

.bg {
    background: #b2b0c0;
}

.menu-bg {
    background: #9390a6;
}

.xl-font {
    font-size: large;
}

.logo {
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.scoring  {
    .row {
        align-content: center;
        height: 50px;
    }
}

.city-input {
    width: 360px;
    background: #fff;
    color: #534f6d;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 10px 18px;
}
