@import "../../variables.scss";

.main {
    background-color:$background;
}

.container {
    display: flex;
}

.bg {
    background: #b2b0c0;
}

.menu-bg {
    background: #9390a6;
}

.xl-font {
    font-size: large;
}

.logo {
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.scoring  {
    .row {
        align-content: center;
        height: 50px;
    }
}

