
<div style="height: 97%;" leaflet [leafletOptions]="options"


[leafletLayers]="layers" id="mapid"
(leafletMapReady)="onMapReady($event)">
<div class="tooltip" #tooltip></div>
</div>
<img src="assets/avatar.png" class="avatar">
<div class="speechbubble" *ngIf="!!address">Neugierig? Finde <a target="_blank" [href]="'https://www.kalaydo.de/immobilien/mietwohnungen/o/3/4/?geoName=' + address">hier</a> Wohnungen in <b>{{address}}</b></div>
<div class="speechbubble" *ngIf="!address">Wähle links deine <b>Präferenzen</b> für die <b>perfekte Nachbarschaft!</b></div>