.tooltip {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 1100;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    pointer-events: none;
}