.tooltip {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 1100;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    pointer-events: none;
}

.avatar {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 100px;
    height: 100px;
    opacity: 1;
    z-index: 1100;
}


.speechbubble {
    position: absolute;
    bottom: 140px;
    left: 50px;
    width: auto;
    max-width: 300px;
    height: auto;
    opacity: 1;
    z-index: 1100;
    font-size: 1.2em;
    background: white;
    padding: 10px;
    border-radius: 10px;
}